.name {
    font: bold 36px Arial;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 24px;
}

img {
    border: 1px solid grey;
    box-shadow: 0 0 1px;
}

.teacher {
    font-family: Arial;
    font-size: 14px;
    color: #898788;
}

@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MyriadProBold.ttf);
    font-style: bold;
}

@font-face {
    font-family: MyriadPro;
    src: url(../fonts/MyriadProRegular.ttf);
}

h2 {
    font: bold 18px MyriadPro;
}

li {
    font: 14px MyriadPro;
}

.ph_n {
    font: 14px MyriadPro;
    text-indent: 40px;
}

.photo {
    text-align: center;
    padding-bottom: 10px;
}

.under_picture {
    margin-left: 263px;
    margin-right: 273px;
    padding-bottom: 10px;
    border-bottom: 2px solid #c8c9c9;
}

.under_picture1 {
    margin-left: 263px;
    margin-right: 273px;
}

a {
    font-style: italic;
}

body {
    width: 1024px;
    height: 1024px;
    background-color: #F3F3F3;
    margin: 0 auto;
}
